<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<h2>게시글 수정 화면</h2>
		<form id="frm" method="post">
	    	<table class="board_update">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>게시글 수정하기</caption>
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${board.boardId}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.views}"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.writer}"></td>
						<th scope="row">작성일</th>
						<td th:text="${#temporals.format(board.writeTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3">
							<input type="text" id="title" name="title" th:value="${board.title}">
						</td>
					</tr>
					<tr>
						<th scope="row">내용</th>
						<td colspan="4" class="view_text">
							<textarea id="content" name="content" th:text="${board.content}"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}">
        </form>

        <input type="button" id="okay"  class="btn" style="float:right;" value="확인">
        <input type="button" id="list"  class="btn" style="float:right;" value="취소">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#list").on("click", function(){
                    location.href = "select?boardId=" + $("#boardId").val();
                });

                $("#okay").on("click", function(){
                	var title = $("#title").val();
                    var content = $("#content").val();
                    if (title.trim() === '') {
                    	alert("제목은 필수 입력 사항입니다.");
                    	return;
                    
                    } else if(content.trim() === '') {
                        alert("내용은 필수 입력 사항입니다.");
                        return;
                    }
                    
                	var result = confirm("게시글을 수정하시겠습니까?");
                	if(result) {
	                	var frm = $("#frm")[0];
	                    frm.action = "";
	                    frm.submit();
                	} 
                });
            })
        </script>
	</div>
</body>
</html>